.main{
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.value{
  text-align: center;
  font-size: 2rem;
  padding: 15px;
   
}
.buttons{
  display: flex;
  width: 10%;
  height: 5%;
}
  button{
  width: 100%;
  font-size: 2rem;
  align-self: center;
  }